body {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    margin: 0px;
    font-family: Roboto, sans-serif;
    font-size: 20px;
}

label, button, option, select {
    font-size: 20px;
    margin-top: 20px;
}

select {
    padding: 2px;
}

p {
    margin: 0px;
    padding: 0px;
}

/* Initialize the CSS variables for the grid */
:root {
  --numColumns: 16;
  --numRows: 16;
}

/* Initialize grid with a size of 16x16 */
/* JS will update grid columns and rows per user selection */
#gridContainer {
    display: grid;
    grid-template-columns: repeat(var(--numColumns), 1fr);
    grid-template-rows: repeat(var(--numRows), 1fr);
    width: 640px;
    height: auto;
    border: solid;
    border-width: 4px;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#title {
    font-size: 36px;
    text-align: center;
    margin-top: 20px;
}

#gridsizing {
    text-align: center;
    margin-top: 15px;
    margin-bottom:30px;
}

#footer {
    margin-top: auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    font-size: 18px;
    align-items: center;
}

#github {
    height: 30px; 
    width: 30px;
}

#author {
    margin-bottom: 5px;
}

.square {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: rgb(222, 255, 227)
}